[Desktop Entry]
Categories=Graphics;GTK;DDE;
Comment=GXDE Image Viewer
Exec=gxde-image-viewer --new-window %F
GenericName=Image Viewer
Icon=gxde-image-viewer
Keywords=Image;Viewer;Jpg;Jpeg;Png;
MimeType=image/bmp;image/bmp24;image/ico;image/jpg;image/jpe;image/jpeg;image/jpeg24;image/jng;image/pcd;image/pcx;image/png;image/tga;image/tif;image/tiff;image/tiff24;image/psd;image/xpm;image/dds;image/gif;image/sgi;image/j2k;image/jp2;image/pct;image/webp;image/wdp;image/cr2;image/pef;image/arw;image/nef;image/icb;image/dng;image/vda;image/vst;image/raf;image/orf;image/svg;image/ptif;image/mef;image/mrw;image/xbm;image/svg+xml;image/heif;
Name=GXDE Image Viewer
StartupNotify=false
Type=Application
X-GXDE-ManualID=GXDE-image-viewer
X-GXDE-Vendor=GXDE

# Translations:
# Do not manually modify!
Comment[am_ET]=ዲፕኢን ምስል መመልከቻ
Comment[ar]=عارض صور ديبين
Comment[ast]=GXDE Image Viewer
Comment[bg]=GXDE Преглед на изображения
Comment[ca]=Visualitzador d'imatges del GXDE
Comment[cs]=Prohlížeč obrázků
Comment[da]=GXDE billedfremviser
Comment[de]=GXDE Bildbetrachter
Comment[es]=Visor de imágenes GXDE
Comment[es_419]=Visor de imágenes GXDE
Comment[fi]=GXDE kuvien katselu
Comment[fr]=Visionneuse d'images GXDE
Comment[gl_ES]=Visualizador de imaxes
Comment[he]=מציג התמונות של GXDE
Comment[hr]=GXDE preglednik slika
Comment[hu]=GXDE Képnézegető
Comment[id]=Penampil Gambar GXDE
Comment[it]=GXDE Image Viewer
Comment[ko]=GXDE 이미지 뷰어
Comment[lt]=GXDE paveikslų žiūryklė
Comment[ms]=Pelihat Imej GXDE
Comment[nl]=GXDE Afbeeldingen
Comment[pl]=Przeglądarka zdjęć GXDE
Comment[pt]=GXDE Image Viewer
Comment[pt_BR]=Visualizador de Imagens
Comment[ru]=Просмотр Изображений GXDE
Comment[sk]=GXDE Prehliadač obrázkov
Comment[sl]=Pregledovalnik fotografij GXDE
Comment[sr]=Дипин Прегледач Слика
Comment[sv]=GXDE Bildvisare
Comment[tr]=GXDE Görsel Görüntüleyici
Comment[uk]=Переглядач зображень GXDE
Comment[zh_CN]=GXDE 看图
Comment[zh_TW]=GXDE 看圖
GenericName[ast]=Visor d'imáxenes
GenericName[bg]=Преглед на изображение
GenericName[ca]=Visualitzador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[es]=Visor de imágenes
GenericName[es_419]=Visor de imágenes
GenericName[fi]=Kuvien katselu
GenericName[fr]=Visionneur d'image 
GenericName[id]=Penampil Gambar
GenericName[it]=Image Viewer
GenericName[ko]=이미지 뷰어
GenericName[lt]=Paveikslų žiūryklė
GenericName[ms]=Pelihat Imej
GenericName[nl]=Afbeeldingen
GenericName[pl]=Przeglądarka zdjęć
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de Imagem
GenericName[ru]=Просмотр Изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sr]=Прегледач Слика
GenericName[tr]=Görsel Görüntüleyici
GenericName[uk]=Переглядач зображень
GenericName[zh_CN]=看图
GenericName[zh_TW]=圖片檢視器
Keywords[ast]=imaxe;visor;imáxenes;jpg;jpeg;png;
Keywords[bg]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[ca]=Imatge;Visualitzador;Jpg;Jpeg;Png;
Keywords[cs]=obrázek;prohlížeč;JPGg;JPEG;PNG;
Keywords[da]=billede;fremviser;Jpg;Jpeg;Png;
Keywords[de]=Image;Viewer;Jpg;Jpeg;Png;Photo;Fotos;Bilder
Keywords[es]=Imagen;Visor;Jpg;Jpeg;Png;
Keywords[es_419]=Imagen;Visor;Jpg;Jpeg;Png;
Keywords[fi]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[fr]=Image;Visionneur;Jpg;Jpeg;Png;
Keywords[id]=Gambar; Penampil; Jpg; Jpeg; Png;
Keywords[it]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[ko]=Image;Viewer;Jpg;Jpeg;Png;이미지;뷰어;그림;사진;
Keywords[lt]=Paveikslų;Paveikslai;Žiūryklė;Žiūrėti;Rodyti;Jpg;Jpeg;Png;
Keywords[ms]=Imej;Pelihat;Jpg;Jpeg;Png;
Keywords[nl]=Afbeelding;Bekijken;Jpg;Jpeg;Png;
Keywords[pl]=Image;Viewer;Jpg;Jpeg;Png;Przeglądarka;Zdjęć;Zdjec;Obraz;
Keywords[pt]=Imagem;Visualizador;Jpg;Jpeg;Png;
Keywords[pt_BR]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[ru]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[sk]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[sr]=Слика;Прегледач;Jpg;Jpeg;Png;
Keywords[tr]=Image;Viewer;Jpg;Jpeg;Png;Görsel;Görüntüleyici;
Keywords[uk]=Image;Viewer;Jpg;Jpeg;Png;зображення;перегляд;переглядач;
Keywords[zh_CN]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[zh_TW]=Image;Viewer;Jpg;Jpeg;Png;圖片;檢視器
Name[am_ET]=ዲፕኢን ምስል መመልከቻ
Name[ar]=عارض صور ديبين
Name[ast]=GXDE Image Viewer
Name[bg]=GXDE Преглед на изображения
Name[ca]=Visualitzador d'imatges del GXDE
Name[cs]=Prohlížeč obrázků
Name[da]=GXDE billedfremviser
Name[de]=GXDE Bildbetrachter
Name[es]=Visor de imágenes GXDE
Name[es_419]=Visor de imágenes GXDE
Name[fi]=GXDE kuvien katselu
Name[fr]=Visionneuse d'images GXDE
Name[gl_ES]=Visualizador de imaxes
Name[he]=מציג התמונות של GXDE
Name[hr]=GXDE preglednik slika
Name[hu]=GXDE Képnézegető
Name[id]=Penampil Gambar GXDE
Name[it]=GXDE Image Viewer
Name[ko]=GXDE 이미지 뷰어
Name[lt]=GXDE paveikslų žiūryklė
Name[ms]=Pelihat Imej GXDE
Name[nl]=GXDE Afbeeldingen
Name[pl]=Przeglądarka zdjęć GXDE
Name[pt]=GXDE Image Viewer
Name[pt_BR]=Visualizador de Imagens
Name[ru]=Просмотр Изображений GXDE
Name[sk]=GXDE Prehliadač obrázkov
Name[sl]=Pregledovalnik fotografij GXDE
Name[sr]=Дипин Прегледач Слика
Name[sv]=GXDE Bildvisare
Name[tr]=GXDE Görsel Görüntüleyici
Name[uk]=Переглядач зображень GXDE
Name[zh_CN]=极星看图
Name[zh_TW]=极星看圖

